# Copy to admin.env and fill locally. Do not commit admin.env.

IP2LOCATION_TOKEN=''
IP2LOCATION_FILE='DB5LITEBIN'

MAXMIND_ACCOUNT_ID=''
MAXMIND_LICENSE_KEY=''
MAXMIND_DB='GeoLite2-City'

DBIP_MONTH='2026-05'
